:root {

}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family:'Poppins', sans-serif;
  background-color: #fff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
}

body {
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  margin: 0;
  background-color: white;
  padding: 1em;
}

header,
footer {
  text-align: center;
}

nav ul {
  list-style: none;
  padding-left: 0;
}

media width 

header {
  display: flex;
  align-items: center;
}

header nav {
  margin-left: auto;
}

nav ul {
  display: flex;
}

nav ul li {
  padding-left: 1em;
}

#banner {
  display: flex;

}